:root {
  --top-background-color: #201a38;
  --buttons-color: #7FB8F5;
  --buttons-text-color: #ffffff;
  --concept-text: #000000; }

.menu-button {
  width: 100%;
  height: 45px;
  background: transparent;
  color: var(--buttons-color);
  border: 1px solid var(--buttons-color);
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 45px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer; }
  @media screen and (min-width: 900px) {
    .menu-button {
      width: 25%;
      max-width: 300px; } }
  .menu-button:hover {
    background: var(--buttons-color);
    color: var(--buttons-text-color); }
  .menu-button:first-of-type {
    margin-bottom: 30px; }
    @media screen and (min-width: 900px) {
      .menu-button:first-of-type {
        margin: 0; } }

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: #FFFFFF;
  transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93); }

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  background: var(--top-background-color);
  transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
  font-family: 'Poppins', sans-serif; }
  @media screen and (max-height: 650px) {
    .menu-container {
      height: 650px; } }
  .menu-container .nav-parameters {
    width: 100%;
    height: 50px;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; }
    @media screen and (max-width: 900px) {
      .menu-container .nav-parameters {
        padding: 10px 10px; } }
    .menu-container .nav-parameters img {
      width: 30px;
      cursor: pointer;
      transition: opacity 0.2s cubic-bezier(0.13, 0.34, 0.16, 0.93); }
      .menu-container .nav-parameters img:hover {
        opacity: 0.6; }
      .menu-container .nav-parameters img:first-of-type {
        margin: 0 20px; }
  .menu-container .logo-motto-container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .menu-container .logo-motto-container .logo {
      max-height: 90px;
      margin-bottom: 40px; }
    .menu-container .logo-motto-container .motto {
      position: relative;
      height: 1.4rem;
      color: #FFFFFF;
      font-size: 1.4rem;
      font-weight: 200;
      margin-bottom: 20px; }
      .menu-container .logo-motto-container .motto::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        top: 0;
        right: -5px;
        background: #FFFFFF;
        animation: type-writter-cursor 0.8s infinite; }
  .menu-container .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    background: #FFFFFF;
    transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93); }
    .menu-container .menu .js-canvas-wave {
      width: 100%;
      height: auto;
      margin-bottom: 50px; }
    .menu-container .menu .menu-buttons-container {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      @media screen and (min-width: 900px) {
        .menu-container .menu .menu-buttons-container {
          flex-direction: row; } }
    .menu-container .menu .info-scroller {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: auto;
      margin-bottom: 20px;
      user-select: none;
      cursor: pointer; }
      .menu-container .menu .info-scroller .info-text {
        font-size: 1.2rem;
        font-weight: 200;
        color: var(--buttons-color); }
      .menu-container .menu .info-scroller .downside-arrow {
        width: 1.2rem;
        height: 1.2rem;
        border-right: 1px solid var(--buttons-color);
        border-bottom: 1px solid var(--buttons-color);
        transform: rotate(45deg);
        transition: transform 0.2s ease-in-out;
        will-change: transform; }
      .menu-container .menu .info-scroller:hover .downside-arrow {
        transform: translateY(5px) rotate(45deg); }

.concept-container {
  width: 100%;
  padding: 10px 10% 50px 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93); }
  @media screen and (max-width: 900px) {
    .concept-container {
      flex-direction: column;
      align-items: center; } }
  .concept-container .concept-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 10%;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .concept-container .concept-card {
        width: 50%; } }
    .concept-container .concept-card img {
      width: 20%; }
      @media screen and (max-width: 900px) {
        .concept-container .concept-card img {
          width: 85px; } }
    .concept-container .concept-card h2 {
      color: var(--buttons-color);
      font-weight: 400;
      margin: 50px 0 25px 0; }
    .concept-container .concept-card span {
      color: var(--concept-text);
      font-weight: 200; }

@keyframes type-writter-cursor {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=landing.css.map */
