// Doc Init
html,
body{
    font-size: 62.5%;
}

// Init CSS Variables
$textSelect: blue;
$top-background-color: #201a38;
$bottom-background-color: #FFFFFF;
$buttons-color: #7FB8F5;

// CSS Home Page
.menu-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: $bottom-background-color;
    .nav-parameters{
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-end;
        background: $top-background-color;
        img{
            width: 30px;
            &:first-of-type{
                margin: 0 20px;
            }
        }
        .dark-mode-toggle{

        }
        .sound-toggle{

        }
    }
    .logo-motto-container{
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $top-background-color;
        .logo{
            max-height: 90px;
            margin-bottom: 40px;
        }
        .motto{
            position: relative;
            height: 1.4rem;
            color: #FFFFFF;
            font-family: 'Poppins', sans-serif;
            font-size: 1.4rem;
            font-weight: 200;
            margin-bottom: 20px;
            &::after{
                position: absolute;
                content: '';
                width: 2px;
                height: 100%;
                right: -5px;
                background: #FFFFFF;
                animation: type-writter-cursor 0.8s infinite;
            }
        }
    }
    .waves-container{
        width: 100%;
        height: auto;
        .js-waves{

        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 50px 0;
        .menu-button{
            width: 80%;
            height: 45px;
            background: transparent;
            color: $buttons-color;
            border: 1px solid $buttons-color;
            border-radius: 7px;
            font-family: 'Poppins', sans-serif;
            font-size: 1.6rem;
            font-weight: 200;
            text-transform: capitalize;
            &:first-of-type{
                margin-bottom: 30px;
            }
        }
    }
    .info-scroller{
        //position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: auto;
        margin-bottom: 20px; 
        cursor: pointer;
        .info-text{
            font-family: 'Poppins', sans-serif;
            font-size: 1.2rem;
            font-weight: 200;
            color: $buttons-color;
        }
        .downside-arrow{
            width: 1.2rem;
            height: 1.2rem;
            border-right: 1px solid $buttons-color;
            border-bottom: 1px solid $buttons-color;
            transform: rotate(45deg);
            transition: transform 0.2s ease-in-out;
        }
        &:hover .downside-arrow{
            transform: translateY(5px) rotate(45deg);
        }
    }
}

@keyframes type-writter-cursor{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

// CSS Write Page
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 100vh;
        user-select: none;
        -moz-user-select: none;

        .name
        {
            border: 0.5px solid grey;
            border-radius: 5px;

            :focus 
            {
                border-color: blue;
            }
    
        }

        .story-area
        {
            border: 0.1px solid grey;
            width: 100%;
            height: 80%;
            border-radius: 5px;
            resize: none;

            :focus 
            {
                border-color: blue;
            }
        }

        

    }
    .form-story--none
    {
        background-color: grey;
    }

    .popup-name
    {
        display: none;
        
        .button-submit 
        {
            background-color: grey;
            width: 150px;
            margin: 0 auto;
        }
    
        .button-submit::before
        {
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-bottom-width: 100px;
            border-top-width: 100px;
            border-left: 100px solid black;
        }
    
    }
    .popup-name--display
    {
        display: block;
        position: absolute;
        background-color: white;
        width: 80vw;
        height: 50vh;

    }


}
