// Init CSS Variables
:root{
    --top-background-color: #201a38;
    --buttons-color: #7FB8F5;
    --buttons-text-color: #FFFFFF;
    --concept-text: #000000;
    --read-paragraph: #000000;
    --popup-display-color: #FFFFFF;
}

html
{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body
{
  background: #ffffff;
  transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
  overflow: hidden;
}
.background-block-top
{
    background-color: var(--top-background-color);
    transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    z-index: -1;
}


/*
* WaweBackground
*/
.canvas-wave
{
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: -1;
    border-top: 50vh solid var(--top-background-color)!important;
}



/*
* arrow
*/
.arrow
{

    width: 0.8rem;
    height: 0.8rem;
    border-right: 1px solid var(--buttons-color);
    border-bottom: 1px solid var(--buttons-color);
    transform: rotate(315deg);
    transition: transform 0.2s ease-in-out;

}

.return-pop
{
    position: absolute;
    top: 0%;
}
.delete-visible
{
    visibility: hidden;

}
.round-return
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    transition: opacity 0.2s cubic-bezier(0.13, 0.34, 0.16, 0.93);
    cursor: pointer;

    &:hover
    {
        opacity: 0.6;
    }
    .arrow-return
    {
        position: relative;
        left: 3px;
        border: solid white;
        border-width: 0 3px 3px 0;
        padding: 15px;
        transform: rotate(135deg) scale(0.4);
    }
}

/*
* Container
*/
.container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    /*
    * HEADER
    */
    .menu-container 
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 10px 50px;
        background: var(--top-background-color);
        transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
        font-family: 'Poppins', sans-serif;

        @media screen and (max-height: 650px) {
            transition: height 0.2s cubic-bezier(0.13, 0.34, 0.16, 0.93);
        }
        @media screen and (max-width: 900px) {
            padding: 10px 10px;
        }

        .nav-parameters
        {
            width: 100%;
            height: 50px;
            padding: 10px 0;
            display: flex;
            justify-content: flex-end;
            img
            {
                width: 30px;
                cursor: pointer;
                transition: opacity 0.2s cubic-bezier(0.13, 0.34, 0.16, 0.93);
                &:hover{
                    opacity: 0.6;
                }
                &:first-of-type{
                    margin: 0 20px;
                }
            }
        }
    }
    



    form 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 100vh;
        margin: auto;
        user-select: none;
        -moz-user-select: none;
        margin-top: -10px;
        @media screen and (max-width: 900px) {
            width: 80%;
        }

        .name
        {
            height: 35px;
            color: var(--concept-text);
            border-bottom: 1px solid #000000!important;
            transition: border-color 0.2s cubic-bezier(0.13, 0.34, 0.16, 0.93);
            &:focus 
            {
                border-color: var(--buttons-color)!important;
            }
    
        }

        .story-area--none
        {
            background: grey !important;
        }
        .story-area
        {
            position: relative;
            background: white;
            color: var(--read-paragraph);
            transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93), color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
            box-shadow: 0 5px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.05);
            width: 100%;
            height: 80%;
            border-radius: 5px;
            white-space: pre-line;
            font-size: 1.6rem;
            line-height: 2.2rem;
            resize: none;
            padding: 20px 20px 40px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 200;
            
            p 
            {
                color: var(--read-paragraph);
                font-size: 1.6rem;
                font-weight: lighter;
                line-height: 19px;
                white-space: pre-line;
                height: 100%;
                width: 100%;
                overflow: auto;
                opacity: 1;
                word-wrap: break-word;
            }
            .transition-opacity
            {
                opacity: 0;
            }

            :focus 
            {
                border-color: 2px solid var(--buttons-color);
            }
            .loader
            {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: 0 50%;
                opacity: 0;     
                transition: opacity 0.1s ease-in-out 0s;
                width: 100px;
                height: 100px;

            }
            .loader--display
            {
      
                opacity: 1;    
            }
    
        }


        .label-author
        {
            font-family: 'Dancing Script', cursive;
            position: relative;
            bottom: 10%;
            width: 80%;
            text-align: right;
            font-size: 1.5rem;
            color: var(--read-paragraph);

        }
        .transition-opacity-label
        {
            opacity: 0;
        }



        .button-return
        {
            margin-top: 10px;
            border: 1px solid var(--buttons-color);

            .arrow-return
            {
                border: 2px solid var(--buttons-color);
                border-width: 0 3px 3px 0;
            }

        }
        
        .button-next--none
        {
            opacity: 0;
            pointer-events: none;
            cursor: default;
        }

        .button-next
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            position: relative;
            bottom: 0%;

            .button-pop
            {
                font-size: 2rem;
                font-weight: 200;
                color: var(--buttons-color);
                margin-left: 5px;
                cursor: pointer;
            }
            &:hover .arrow
            {
                transform: translateX(-5px) rotate(315deg);
            }
        }
    }

    .popup
    {
        display: none;


        label
        {
            font-size: 2rem;
            font-weight: 400;
            color: var(--concept-text);
        }

    }
    .popup-finish
    {
        transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
        display: none;
    }
    .popup--display
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--popup-display-color);
        transition: background-color 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
        border-radius: 5px;
        padding: 10px;
        width: 40vw;
        height: 50vh;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 2rem;

        img
        {
            min-width: 20%;
            max-width: 50px;
            height: auto;
        }
        p
        {
            color: var(--buttons-color);
        }
        .social-icon
        {
            display: flex;
            justify-content: space-around;
            width: 15vw;
            img
            {
                width: 250px;
            }

        }


        .button-flex
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        input
        {
            border: 0;
            outline: 0;
            text-align: left;
            width: 100%;
            margin: 0 auto;
            padding: 0 5px;
            overflow: hidden;
            font-weight: 200;
        }
        .menu-buttons-container{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // Global CSS 
            .menu-button{
                width: 80%;
                height: 45px;
                background: transparent;
                color: var(--buttons-color);
                border: 1px solid var(--buttons-color);
                border-radius: 7px;
                font-family: 'Poppins', sans-serif;
                font-size: 1.6rem;
                font-weight: 200;
                line-height: 2rem;
                text-align: center;
                text-transform: capitalize;
                text-decoration: none;
                transition: background-color 0.2s ease-in-out;
                text-align: center;
                height: auto;
                padding: 20px;
                
                @media screen and (min-width: 900px) {
                    width: 25%;
                }

                &:hover{
                    background: var(--buttons-color);
                    color: var(--buttons-text-color);
                }
                &:first-of-type{
                    margin-bottom: 30px;
                }
            }
        }

    }
}

@media screen and (min-width: 1000px) 
{
    .popup--display 
    {
        width: 40vw !important;

    }
  }
  @media screen and (min-width: 100px) and (max-width: 1000px)
  {
    .popup--display 
    {
        width: 60vw !important;
        height: 60vh !important;

    }
  }